In [7]:
import pandas as pd

# binning features

## numeric binning

In [11]:
data=pd.read_csv('fe_binning.csv',sep=',')
data.head()

       country  happiness
0  Afghanistan   3.982855
1      Albania   4.606651
2    Argentina   6.697131
3      Armenia   4.348320
4    Australia   7.309061

In [13]:
binned=pd.cut(data['happiness'],bins=[0,4.5,6,10],labels=["L","M","H"])
data["happiness_band"]=binned

In [14]:
data.head()

       country  happiness happiness_band
0  Afghanistan   3.982855              L
1      Albania   4.606651              M
2    Argentina   6.697131              H
3      Armenia   4.348320              L
4    Australia   7.309061              H

In [15]:
data['happiness_band'].value_counts()

M    68
H    44
L    31
Name: happiness_band, dtype: int64

## categorical binning

In [17]:
mapping=pd.read_csv("country_region.csv",sep=',')
mapping.head()

          country                      region
0     Afghanistan                  South Asia
1         Albania       Europe & Central Asia
2         Algeria  Middle East & North Africa
3  American Samoa         East Asia & Pacific
4         Andorra       Europe & Central Asia

In [18]:
data.head()

       country  happiness happiness_band
0  Afghanistan   3.982855              L
1      Albania   4.606651              M
2    Argentina   6.697131              H
3      Armenia   4.348320              L
4    Australia   7.309061              H

In [19]:
data=pd.merge(data,mapping,on=["country","country"],how="left")

In [20]:
data.head()

       country  happiness happiness_band                     region
0  Afghanistan   3.982855              L                 South Asia
1      Albania   4.606651              M      Europe & Central Asia
2    Argentina   6.697131              H  Latin America & Caribbean
3      Armenia   4.348320              L      Europe & Central Asia
4    Australia   7.309061              H        East Asia & Pacific

In [22]:
data.isnull().mean()

country           0.0
happiness         0.0
happiness_band    0.0
region            0.0
dtype: float64